body {
  background-color: #3f454a;
}

.navbar-default {
    background-color: #4b56bb;
    border-color: #4b56bb;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: color;
    color: #a164b8;
    background-color: #4b56bb;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #a164b8;
    background-color: #4b56bb;
}

.navbar-default .navbar-text {
    color: #a164b8;
}

.navbar-default .navbar-toggle {
    border-color: #4b56bb;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4b56bb;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

#logo {
  position: absolute;
  top: 2px;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #FFF;
}

.background-image {
  margin-bottom: -10%;
  margin-top: -15%;
  display: block;
  max-height: 100%;
  max-width: 100%;
  z-index: -2;
}

.img-wrapper {
  position: relative;
}

.text_fade > a {
  color: #FFF;
}

.text_fade > a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: color;
  color: #a164b8;
}

.box {
  padding: inherit;
  background-color: #2b333a;
}

.box2 {
  text-align: center;
  border: 1px solid white;
  margin: auto;
}

.main-left-col {
    background:#fff;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.main-right-col {
    background:#eee;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#column-wrap {
    overflow: hidden;
}

#picture {
  float: left;
  width: 50%;

}

#text  {
  float: right;
  width: 50%

}

#logo {
  position: absolute;
  top: 2px;
}

#glory-text {
  font-family: 'Roboto', sans-serif;
  font-size: 7em;
  align-content: center;
}

.box {
  padding: inherit;
  background-color: #2b333a;
}

.box2 {
  text-align: center;
  border: 1px solid white;
  margin: auto;
}

.main-left-col {
    background:#fff;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.main-right-col {
    background:#eee;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#column-wrap {
    overflow: hidden;
}

#picture {
  float: left;
  width: 50%;

}

#text  {
  float: right;
  width: 50%

}

#logo {
  position: absolute;
  top: 2px;
}

#glory-text {
  font-family: 'Roboto', sans-serif;
  font-size: 7em;
  align-content: center;
}

#z-property {
  z-index: 1;
}
