body {

  background-color: #b3b3b3;
}

.navbar-default {
    background-color: #3a4d66;
    border-color: #3a4d66;

  background-color: #3f454a;
}

.navbar-default {
    background-color: #4b56bb;
    border-color: #4b56bb;

    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: color;
    color: #a164b8;

    background-color: #3a4d66;

    background-color: #4b56bb;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #a164b8;

    background-color: #3a4d66;

    background-color: #4b56bb;

}

.navbar-default .navbar-text {
    color: #a164b8;
}

.navbar-default .navbar-toggle {

    border-color: #3a4d66;

    border-color: #4b56bb;

}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {

    background-color: #3a4d66;

    background-color: #4b56bb;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

#logo {
  position: absolute;
  top: 2px;
}


a:hover {

}


.background-image {

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

.background-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top:-10%;
}

.text_center {
  text-align: center;
}

.text_fade > a {

background-color: #FFF;
=======
  color: #5e6be5;

}

.text_fade > a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: color;
  color: #a164b8;
}

=======

h1 {
  text-decoration: none;
  color: #FFF;
}

.panel-default {
  background-color: #3f454a;
}

